.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu-icon span {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

/* Transform to 'X' when open */
.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}